<aside class="aside-hero" ng-controller="AsideController">
    <div class="aside-inner-1">
      <div>
        <div class="login-info">
            <img src="img/sunny.png" alt="avatar">
            <p><a href="http://www.escosigns.com" target="_blank">Kenny.Smith</a></p>
            <div class="clearfix"></div>
        </div>
        <div class="main-left-nav">
          <div>
            <div>
              <ul class="main-menu">
                <a href="index.php" >
                  <li>
                    <img class="db-icon" src="img/icons/home-icon.png" alt="">
                    <p>Dashboard</p>
                  </li>
                </a>
                <a href="traffic.php">
                  <li>
                    <img class="db-icon" src="img/icons/graph-icon.png" alt="">
                    <p>Organic</p>
                  </li>
                </a>
                <a href="general.php">
                  <li>
                    <img class="db-icon" src="img/icons/ppc.png" alt="">
                    <p>General</p>
                  </li>
                </a>
                <a href="mom-reporting.php">
                  <li>
                    <img class="db-icon" src="img/icons/ppc.png" alt="">
                    <p>MOM Reporting</p>
                  </li>
                </a>
                <a href="total-traffic.php" >
                  <li >
                    <img class="db-icon" src="img/icons/total-traffic.png" alt="">
                    <p>Visitor Information</p>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
