<div class="heading-container">
  <div class="page-title">
    <h1>{{title}}</h1><p> > </p><h5>{{client}}</h5><h1 style="margin-left:10px;">{{status}}</h1>
    <h1>{{someSection}}</h1>

  </div>
  <div class="page-stats">
    <ul>
      <li>
        <h5 class="page-stat-h5">Visitors Today:</h5>
        <p class="page-stat-visitors" id="ct-visitors-today">{{todayAndYesterday.rows[1][1]}}</p>
      </li>
      <li>
        <h5 class="page-stat-h5">Today's Date:</h5>
        <p class="page-stat-date">{{date}}</p>
      </li>

    </ul>
  </div>
</div><!-- end heading container -->
