<div>
	<div>
		<div class="ct-ng-view-container" s>
			<div>
				<div>
					<p>This is the partial for view 3.</p>
					<div class="container">
			<!-- Codrops top bar -->
           
			<section class="ac-container">
				<div>
					<input id="ac-1" name="accordion-1" type="checkbox" />
					<label for="ac-1">About us</label>
					<article class="ac-small">
						<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
					</article>
				</div>
			</section>
        </div>
				</div>
			</div>
		</div>
	</div>
</div>



